<% posts.each(function(post, i){ %>
    <article class="post">
        <h2 class="post-title">
            <a href="<%- url_for(post.path) %>"><%= post.title %></a>
        </h2>
        <%- partial('_partial/post/meta', {post: post}) %>
        <div class="post-content article-entry post-markdown">
            <div class="post-thumbnail"></div>
            <div class="post-content">
                <% if (post.excerpt){ %>
                    <%- post.excerpt %>
                    <% if (theme.excerpt_link){ %>
                        <p class="more-link">
                            <a href="<%- url_for(post.path) %>"><%- __('excerpt_link') %></a>
                        </p>
                    <% } %>
                <% } else { %>
                    <%- post.content %>
                <% } %>
            </div>
        </div>
    </article>
<% }) %>

<% if(page.total > 1){ %>
    <section class="paginate-container">
        <nav class="pagination">
            <%- paginator({
                prev_text: __('prev'),
                next_text: __('next')
            }) %>
        </nav>
    </section>
<% } %>
